/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
    font-size: 16px;
}

/* MAIN */
.carousel-wrapper {
    display: flex;
    height: 100vh;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
}
.carousel__image {
    height: 100%;
    width: 100%;
}
.carousel__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.carousel-bullets {
    position: absolute;
    bottom: 25px;
    right: 50%;
    transform: translateX(50%);
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}
.carousel-bullets i {
    margin: 0 10px;
}
.carousel-bullets i.active {
    color: crimson;
}
.carousel i {
    cursor: pointer;
}
.carousel__prev i, .carousel__next i {
    margin: 50px;
}
